.dropdown_user__icon{
  border: 2px solid black;
  object-fit: cover;
}

.dropdown__text{
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: .4rem;
}

.dropdown__icon{
  color: var(--theme);
}

.dropdownMenu{
  width: 200px;
}
