.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(24, 118, 242, 0.341) 5%, transparent 10%, transparent 90%);
}


.loginWrapper{
  width: 80%;
  display: flex;
  background-size: 220%;
}

.loginLeft{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 2rem;
  justify-content: center;
}

.loginDesPrimary{
  font-size: 1.8rem;
}


.loginDesPrimaryBig{
  color: var(--theme);
  font-weight: 800;
}

.loginDesSecondary{
  margin-top: 2rem;
  font-size: 1.6rem;
}

.loginLogo{
  width: 19.5rem;
  height: 19.5rem;
}

.loginRight{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 2rem;
  justify-content: center;
}

.loginForm{
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: white;
  box-shadow: 1rem 1rem 3rem 1rem rgba(0,0,0,.2);
  background-image: linear-gradient(to bottom, rgba(24, 118, 242, 0.341) 5%, transparent 10%, transparent 90%);
}

.loginInputDiv{
  display: flex;
  align-items: center;
  border: .1rem solid lightgray;
  margin-top: 1.5rem;
  border-radius: .5rem;
}

.loginIcon{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.loginIcon2{
  color: rgba(128, 128, 128, 0.578);
  padding-right: .5rem;
  cursor: pointer;
  &:hover{
    color: gray;
  }
}


.loginInput{
  height: 2.5rem;
  width: 100%;
  padding-top: 0;
  padding-left: 1rem;
  font-size: 1.8rem;
  outline: none;
  border-width: 0;
  background-color: transparent;
  border-bottom: .3rem solid transparent;
  &:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.3rem solid #7ed56f;
  }
  &:focus:invalid{
    border-bottom: 0.3rem solid #ff7730;
  }
}

.loginButton{
  margin-top: 20px;
  color: white;
  background-color: var(--theme);
  border: none;
  height: 25px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
}

.toSignUp{
  margin-top: 20px;
}

.link{
  text-decoration: none;
  color: var(--theme);
}
