.questions{
  width: 100vw;
  height: 50vh;
  margin-top: 1rem;
  margin-bottom: 5%;
  justify-content: center;
}

.questions__subject--inputs{
  display: flex;
  justify-content: space-between;
}

.questions__subject--form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: .3rem solid lightgray;
  box-shadow: 2px 4px 10px 1px rgba(4, 95, 213, 0.451);
  padding-right: 1rem;
  padding-left: 1rem;
}

.questions__subject--inputs-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .1rem solid var(--theme);
  height: 9rem;
  justify-content: center;
  background-color: transparent;
  white-space: nowrap;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
}

.questions__subject{
  display: none;
}

.questions__label--icon{
  color: var(--theme);
  cursor: pointer;
}

.questions__label--text{
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  overflow-wrap: break-word;
}

.active{
  background-color: lightgray;
}

.questions__difficulty--group{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.inner{
  display: flex;
}

.question__difficulty--input{
  display: none;
}

.questions__difficulty--label{
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem;
}

.questions__subject--button{
  height: 2rem;
  width: 2rem;
  border: .5rem solid var(--theme);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -.6rem;

  &::after{
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--theme);
    opacity: 0;
    transition: opacity .2s;
  }
}

.question__difficulty--input:checked ~ .questions__difficulty--label .questions__subject--button::after {
  opacity: 1;
}

.question__difficulty--section{
  display: flex;
  justify-content: space-between;
  margin: 0rem 0 2rem 1rem;
}

.question__label--des{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: var(--theme);
}

.question__label--des:not(:first-of-type){
  margin-top: 1rem;
}

.questions__form--hr{
  margin-top: 1.5rem;
  color: var(--theme);
}

.questions__submit--button{
  display: flex;
  align-items: center;
}

.question__submit--button-icon{
  margin-left: .5rem;
  font-size: 2rem;
  font-weight: 800;
  padding-right: 1rem;
}


.hr__section{
  width: 90%;
  height: 1rem;
  border-bottom: .1rem solid lightgray;
  text-align: center;
  margin-bottom: 10rem;
  margin-left: 5rem;
  margin-right: 8rem;
}

.hr__span{
  font-size: 2rem;
  background-color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  color: lightgray;
}


.questions__show{
  border: 1px solid black;
  height: 40rem;
  width: 50rem;
  justify-content: center;
  margin: auto;
  box-shadow: 2px 4px 10px 1px rgba(4, 95, 213, 0.451);
  overflow: auto;
}

.questions__user--question-form{
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: center;
}

.questions__own--input{
  margin-left: 10rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: .4rem;
  margin-right: 1.5rem;
  align-items: center;
  width: 20rem;
  padding-left: 1rem;
  background-color: rgba(4, 95, 213, 0.451);
}

.questions__own--input::placeholder{
  color: black;
  text-align: center;
}

.questions__own--input:focus::placeholder{
  color: transparent;
}

.questions__own--answer{
  margin: 1rem;
  height: fit-content;
  background-color:  rgba(4, 95, 213, 0.451);
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
}

.questions__own--form{
  margin-bottom: 1rem;
  background-color:  rgba(4, 95, 213, 0.451);
  display: block;
  align-items: center;
  height: auto;
}

.questions__own--ai-question{
  color: black;
  font-size: 1.6rem;
  justify-content: center;
  padding: 1rem;
  border-bottom: .2rem solid lightgray;
}

.question__input--container{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: auto;
  margin-top: auto;
  place-content: center;
}

.questions__answer--own-input{
  background-color: white;
  padding-left: 1rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: .4rem;
  margin-right: 1.5rem;
  margin-top: auto;
  width: 20rem;
}

.questions__answer--own-input::placeholder{
  color: black;
  text-align: center;
}

.questions__answer--own-input:focus::placeholder{
  color: transparent
}

.questions__ai--feedback{
  text-align: center;
  font-size: 1.6rem;
}

.questions__ai--feedback-container{
  background-color:  rgba(4, 95, 213, 0.451);
  height: auto;
}

.questions--ai-display{
  font-size: 2rem;
  color: black;
  margin: 1rem;
}
