/* .questions{
  width: 50%;
  place-content: center;
  margin-left: 40%;
  max-height: 40rem;
  padding-top: 10px;
  overflow-y: scroll;
  margin-bottom: 10%;
}

.question__info{
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 2rem;
}

.question__icon{
  display: flex;
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  align-items: center;
  background-color: rgb(146, 175, 193);
  justify-content: center;
  border-radius: 50%;
  margin-right: 1rem;
  font-weight: 600;
}

.question__paragraph{
  display: flex;
  flex-direction: column;
  background-color: rgb(146, 175, 193);
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  position: relative;
}

.question__subject{
  margin-top: .5rem;
  position: absolute;
  font-weight: 600;
  right: 1rem;
  bottom: 4px;
}


.answer{
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  margin-top: 1.5rem;
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
}

.answer__steps{
  font-size: 16px;
}

.answer__steps--step{
  list-style-type: decimal;
  margin-left: 2rem;
}

.answer__steps--step > li::marker{
  font-weight: bolder;
}

.step{
  font-size: 1.4rem;
}

.answer__explain{
  font-size: 1.5rem;
  margin: 1rem;
} */
